.disclaimer {
  background: linear-gradient(
      180deg,
      rgba(3, 254, 139, 0.4) 0%,
      rgba(0, 30, 26, 0.4) 42.59%
    ),
    #00201a;
  width: 320px;
  min-height: 568px;
  margin: 0 auto;
  padding: 28px 16px;
  position: relative;
  text-align: center;
  // border-radius: 32px 32px 0 0;
}

.disclamer-bubble-log {
  display: none;
  width: 320px;
  height: auto;
}

.disclaimer-title-disk {
  color: #ffc800;
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.disclaimer-description-disk {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 26px;
}

.disk-googl {
  display: inline-block;
  margin-bottom: 40px;
}

.disk-googl img {
  display: block;
  margin: 0 auto;
}

.disclaimer-span-disk {
  color: #ffc800;
}

.disclaimer-dino {
  width: 320px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.grass-disclamer {
  width: 320px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (min-width: 1440px) {
  .disclaimer {
    width: 1440px;
    height: 998px;
    padding: 42px 93px 236px 648px;
    text-align: left;
  }

  .disclamer-bubble-log {
    margin-left: auto;
    display: block;
    width: 406px;
    height: 240px;
    margin-bottom: 20px;
  }

  .disclaimer-dino {
    width: 650px;
    height: 650px;
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: none;
  }

  .grass-disclamer {
    width: 1440px;
  }

  .grass-disclamer {
    height: 200px;
  }

  .disclaimer-title-disk {
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    margin-bottom: 48px;
  }

  .disclaimer-description-disk {
    font-weight: 400;
    font-size: 24px;
    text-transform: lowercase;
    text-align: left;
    width: 541px;
    margin-bottom: 42px;
  }

  .disk-googl {
    width: 203px;
    height: 64px;
    margin-bottom: 0;
  }

  .disk-googl-img {
    width: 203px;
    height: 64px;
  }
}
