.footer {
  width: 320px;
  height: 294px;
  background-color: #001e1a;
  padding: 28px 37px 40px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  color: #fefefe;
  gap: 12px;
  align-items: center;
  width: 122px;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-bottom: 48px;
}
.logo {
  margin: 0 auto;
}
.copyright {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fefefe;
  margin-bottom: 40px;
}
