.gallery-section {
  margin: 0 auto;
  background: #001e1a;

  width: 320px;
  height: 896px;
  background-image: url('../../img/gallery-background.png');
  background-size: cover;
  background-position: 100%;
}
.gallery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gallery-title {
  margin-top: 40px;
  text-align: center;
  font-family: Fredoka One, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffc800;
}

.gallery-descr {
  display: none;
}

.card-list {
  overflow: hidden;
  width: 320px;
  margin-top: 40px;
  position: relative;
}

.card-one {
  border-radius: 16px;
  width: 136px;
  height: 224px;
  position: absolute;
  left: 70px;
  z-index: 1;
}
.card-two {
  left: -5px;
  top: 20px;
  position: absolute;
  z-index: 0;
  border-radius: 16px;
  width: 136px;
  height: 224px;
  transform: rotate(-8deg);
}

.card-three {
  position: absolute;
  z-index: 0;
  left: 190px;
  top: 20px;
  border-radius: 16px;
  width: 136px;
  height: 224px;
  transform: rotate(8deg);
}

.card-four {
  position: relative;
  top: 350px;
  left: -50px;
  z-index: 1;
  transform: rotate(-8deg);
  border-radius: 16px;
  width: 180px;
  height: 294px;
}
.card-five {
  position: relative;
  top: -10px;
  border-radius: 16px;
  width: 240px;
  height: 394px;
  right: -75px;
  transform: rotate(8deg);
}

@media (min-width: 1280px) {
  .gallery-section {
    width: 1280px;
    height: auto;
  }

  .gallery-title {
    font-size: 40px;
  }

  .gallery-descr {
    display: block;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #fefefe;
    height: 68px;
    width: 791px;
  }

  .card-list {
    margin: 100px 0 50px 0;
    width: 1440px;
    height: 1000px;
  }

  .card-one {
    left: 500px;
    width: 426px;
    height: 700px;
    z-index: 5;
  }

  .card-two {
    top: 70px;
    left: 250px;
    width: 426px;
    height: 700px;
    z-index: 4;
  }

  .card-three {
    z-index: 2;
    top: 70px;
    left: 750px;
    width: 426px;
    height: 700px;
  }

  .card-four {
    z-index: 3;
    transform: rotate(-19deg);
    left: 10px;
    top: 220px;
    width: 426px;
    height: 700px;
  }

  .card-five {
    position: absolute;
    top: 220px;
    left: 1100px;
    z-index: 1;
    width: 426px;
    height: 700px;
    transform: rotate(19deg);
  }
}
