.container {
  margin: 0 auto;
  width: 320px;
}
.term-back-up {
  display: none;
}
.trem-container {
  width: 320px;
  background: linear-gradient(rgba(3, 254, 139, 0.4), rgba(0, 30, 26, 0.4));
  padding: 28px 16px 56px;
}
.term-tittle {
}
.term-small-title {
}
.term-text {
}
.term-link {
}
.term-back-down {
  text-align: center;
  display: block;
  background-color: #ffc800;
  min-width: 288px;
  height: 44px;
  border-radius: 16px;
  padding: 16px 20px;
}
