.container {
  margin: 0 auto;
  width: 320px;
  background: #00201a;
  position: relative;
}
.term-back-up {
  display: none;
}
.trem-container {
  width: 320px;

  background: linear-gradient(
    180deg,
    rgba(3, 254, 139, 0.4) 0%,
    rgba(0, 30, 26, 0.2) 42.59%
  );

  padding: 28px 16px 56px;
}

.term-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.term-list-item {
  color: #fefefe;
}

.firs {
  text-transform: uppercase;
}

.term-tittle {
  font-family: 'Fredoka One', sans-serif;
  margin-bottom: 31px;
  font-weight: 400px;
  font-size: 16px;
  text-align: center;
  color: #ffc800;
}
.term-small-title {
  margin-bottom: 12px;
  color: #ffc800;
  font-weight: 400;
  font-size: 12px;
}
.term-text {
  margin-bottom: 24px;
  color: #fefefe;
}

.term-text-last {
  margin-bottom: 52px;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #fefefe;
}

.term-link {
  color: #ffc800;
}
.term-back-down {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  background-color: #ffc800;
  width: 288px;
  height: 44px;
  border-radius: 16px;
  padding: 11px 97.5px;
}

.br {
  margin-bottom: 16px;
}
