<section id="about" class="about-section">
  <div class="about-content">
    <h3 class="about-title">About the Game</h3>

    <div class="wrapper">
      <div class="width-div">
        <img width="650px" height="204px" src="./img/image2x.png" alt="" />
        <p class="about-description">
          Dino Bubble Prehistoric takes you on a thrilling adventure back in
          time to the age of dinosaurs. This bubble shooter game combines
          exciting gameplay with a prehistoric twist, as you embark on a mission
          to clear bubbles and rescue dino eggs trapped in vibrant clusters.
        </p>
      </div>

      <div class="width-div">
        <img width="580px" height="204px" src="./img/picture2x.png" alt="" />
        <p class="about-description" width="650px">
          Each level presents unique challenges, from breaking through tough
          barriers to collecting special items, all while unlocking powerful
          boosters and creating explosive combos. With hundreds of levels set in
          lush, prehistoric landscapes, Dino Bubble Prehistoric offers endless
          hours of entertainment.
        </p>
      </div>

      <div class="width-div">
        <img width="650px" height="204px" src="./img/image32x.png" alt="" />
        <p class="about-description">
          The game features smooth animations, a captivating soundtrack, and
          intuitive controls, making it perfect for players of all ages. Whether
          you’re aiming to achieve the highest score or just want to unwind with
          a fun game, Dino Bubble Prehistoric is the perfect choice.
        </p>
      </div>
    </div>
  </div>
</section>
