<section id="advantages" class="advantages-section">
  <div class="advantages-content">
    <h3 class="advantages-title">Advantages</h3>

    <ul class="list">
      <li class="li">
        <h5 class="title">Colorful Graphics</h5>
        <p class="description">Enjoy vibrant and prehistoric-themed visuals.</p>
        <!-- <svg><use href="../img/sprite.svg#icon-Light-ellipse"></use></svg> -->
      </li>
      <li class="li">
        <h5 class="title">Addictive Gameplay</h5>
        <p class="description">
          Easy to start, but challenging enough to keep you engaged.
        </p>
      </li>
      <li class="li">
        <h5 class="title">Catchy Soundtrack</h5>
        <p class="description">
          Play to the beat of a thrilling and ancient-themed soundtrack.
        </p>
      </li>
      <li class="li">
        <h5 class="title">Varied Levels</h5>
        <p class="description">
          Explore hundreds of levels with diverse objectives and challenges.
        </p>
      </li>
      <li class="li">
        <h5 class="title">Special Boosters</h5>
        <p class="description">
          Unlock and use unique boosters to clear tough levels and rescue dino
          eggs.
        </p>
      </li>
      <li class="li">
        <h5 class="title">Free to Play</h5>
        <p class="description">
          Download and enjoy the game for free, with optional in-app purchases.
        </p>
      </li>
      <li class="li">
        <h5 class="title">Social Features</h5>
        <p class="description">
          Compete with friends and share your achievements on social media
        </p>
      </li>
      <li class="li">
        <h5 class="title">Regular Updates</h5>
        <p class="description">
          Experience new levels, events, and content with frequent updates.
        </p>
      </li>
    </ul>
  </div>

  <picture>
    <source srcset="./img/man-adv-desk.png" media="(min-width: 1440px)" />

    <img class="man-adv" src="./img/man.png" alt="Man" />
  </picture>

  <picture>
    <source
      srcset="./img/grass-advantages-desk.png"
      media="(min-width: 1440px)"
    />

    <img class="grass-adv" src="./img/grass-advantages.png" alt="Grass" />
  </picture>
</section>
