<section class="disclaimer">
  <img src="../img/bubbleLogo.png" class="disclamer-bubble-log" />
  <h2 class="disclaimer-title-disk">Disclaimer</h2>
  <p class="disclaimer-description-disk">
    <span class="disclaimer-span-disk">JOYSTARFUSION.COM </span>
    IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME
    CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE GAMES. GAME IS
    AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.
  </p>
  <a
    href="https://play.google.com/store/apps/details?id=com.creativejoy.bubbleprehistoric"
    target="_blank"
    class="disk-googl"
  >
    <img class="disk-googl-img" src="./img/GooglePlay.png" alt="" />
  </a>

  <img class="disclaimer-dino" src="../img/disclamerbig dino.png" />
  <img class="grass-disclamer" src="../img/grass png 1.png" />
</section>
