<section class="footer">
  <div class="footer-links">
    <a class="footer-link" href="../page-2.html">Privacy policy</a>
    <a class="footer-link" href="../page-3.html">Terms and conditions</a>
  </div>

  <p class="copyright">All rights reserved joystarfusion.com | 2024</p>
  <a
    href="https://play.google.com/store/apps/details?id=com.creativejoy.bubbleprehistoric"
    ><img
      class="logo"
      src="../img/bubbleLogo.png"
      alt="title"
      width="136"
      height="80"
  /></a>
</section>
