<section id="gallery" class="gallery-section">
  <div class="gallery-content">
    <h3 class="gallery-title">Gallery</h3>
    <p class="gallery-descr">
      Dive into Dino Bubble Prehistoric, where each bubble popped brings you
      closer to a dino-filled adventure. Start your journey today!
    </p>

    <ul class="card-list">
      <li><img class="card-one" src="./img/cards/card-one.png" alt="" /></li>
      <li><img class="card-two" src="./img/cards/card-two.png" alt="" /></li>
      <li>
        <img class="card-three" src="./img/cards/card-three.png" alt="" />
      </li>
      <li>
        <img class="card-four" src="./img/cards/card-four.png" alt="" />
      </li>
      <li>
        <img class="card-five" src="./img/cards/card-five.png" alt="" />
      </li>
    </ul>
  </div>
</section>
