<header class="header">
  <div class="backdrop">
    <nav class="navigation">
      <ul class="nav-box">
        <li class="text">
          <a href="../index.html">Home</a>
        </li>
        <li class="text"><a href="#reviews">Reviews</a></li>
        <li class="text"><a href="#about">About the Game</a></li>
        <li class="text"><a href="#gallery">Gallery</a></li>
        <li class="text"><a href="#advantages">Advantages</a></li>
        <li class="text"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>

    <svg class="burger" width="14" height="10">
      <use href="./img/sprite.svg#icon-burger"></use>
    </svg>
    <svg class="close" width="10" height="10">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </div>
</header>
