<section class="prehistoric">
  <div class="content">
    <div class="title-descr-btn">
      <h2 class="prehistoric-title">Dino Bubble Prehistoric</h2>
      <p class="prehistoric-description">
        is a fun arcade game where you help dinosaurs pop bubbles. Solve
        puzzles, complete levels, and unlock bonuses in a vibrant prehistoric
        world!
      </p>

      <a
        href="https://play.google.com/store/apps/details?id=com.creativejoy.bubbleprehistoric"
        target="_blank"
      >
        <img class="google-btn" src="./img/GooglePlay.png" alt="" />
      </a>
    </div>

    <div>
      <img class="phone" src="./img/Device-Android.png" alt="" />
    </div>
  </div>
</section>
