<section id="reviews" class="reviews-section">
  <div class="liner">
    <img class="leafes" src="./img/leafes.png" alt="" />
    <h3 class="reviews-title">Reviews</h3>

    <div class="img-mob">
      <img class="text-cloud" src="./img/text-cloud.png" alt="" />
      <img class="little-dino" src="./img/little-dino.png" alt="" />
    </div>

    <div class="reviews-desk">
      <ul class="review-list">
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Lucas F.</h4>
            <ul class="star-list">
              <li>
                <img class="star" src="./img/Star.png" alt="" />
              </li>
              <li>
                <img class="star" src="./img/Star.png" alt="" />
              </li>
              <li>
                <img class="star" src="./img/Star.png" alt="" />
              </li>
              <li>
                <img class="star" src="./img/Star.png" alt="" />
              </li>
              <li>
                <img class="star" src="./img/Star.png" alt="" />
              </li>
            </ul>
          </div>
          <p class="rev-description">
            "I love competing with friends to see who can clear the most
            bubbles. It’s a blast!"
          </p>
        </li>
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Abigail K.</h4>
            <ul class="star-list">
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
            </ul>
          </div>
          <p class="rev-description">
            "The prehistoric soundtrack is so catchy, I find myself humming it
            all day long!”
          </p>
        </li>
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Alexander J.</h4>
            <ul class="star-list">
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
            </ul>
          </div>
          <p class="rev-description">
            "It’s so easy to pick up and play, but still offers a great
            challenge as you progress."
          </p>
        </li>
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Zoe M.</h4>
            <ul class="star-list">
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star-black.png" alt="" /></li>
            </ul>
          </div>
          <p class="rev-description">
            "Dino Bubble Prehistoric is the best bubble shooter game I've
            played. Addictive and fun!"
          </p>
        </li>
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Scarlett N.</h4>
            <ul class="star-list">
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star-black.png" alt="" /></li>
            </ul>
          </div>
          <p class="rev-description">
            "The special events in Dino Bubble Prehistoric are thrilling! They
            keep me coming back for more."
          </p>
        </li>
        <li class="review">
          <div class="rev-top">
            <h4 class="rev-name">Henry P.</h4>
            <ul class="star-list">
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
              <li><img class="star" src="./img/Star.png" alt="" /></li>
            </ul>
          </div>
          <p class="rev-description">
            "The variety of levels and challenges keep the game interesting. I’m
            always eager for the next adventure."
          </p>
        </li>
      </ul>
    </div>

    <div class="images-div">
      <div class="dino-cloud">
        <img class="text-cloud" src="./img/text-cloud.png" alt="" />
        <img class="little-dino" src="./img/little-dino.png" alt="" />
      </div>
      <img class="man-desk" src="./img/man-desk.png" alt="" />
      <img class="rock-desk" src="./img/rock-desk.png" alt="" />
      <img class="great-work" src="./img/great work.png" alt="" />
      <img class="man" src="./img/man.png" alt="" />
      <img class="rock" src="./img/Stone.png" alt="" />
      <img class="oh-yeah" src="./img/oh-yeah.png" alt="" />
      <img class="little-dino-bottom" src="./img/little-dino.png" alt="" />
    </div>
    <img class="grass" src="./img/grass-advantages-desk.png" alt="" />
  </div>
</section>
